.container{
    width: 378px;
    height: 700px;
    background-color:#539A46;
    position:relative;
    .line{
        width: inherit;
        height: inherit;
        border:3px solid #ffffff;
        position:absolute;
        left:0px;
        right:0px;
        top:0px;
        bottom:0px;
        &::before{
            border:5px solid #539A46;
            bottom: -6px;
            content: "";
            left: -9px;
            position: absolute;
            right: -6px;
            top: -9px;
        }    
    }
    .half{
        width: inherit;
        height: 3px;
        background-color: white;
        position: absolute;
        top: 50%;
    }
    .center{
        position:absolute;
        width:130px;
        height:130px;
        border:3px solid #ffffff;
        left: 119px;
        top: 318px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
    &::after{
            background-color: #fff;
            border: 5px solid #fff;
            bottom: 55px;
            content: "";
            left: 55px;
            position: absolute;
            right: 55px;
            top: 55px;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
    }
  }
    .panelty{
        width: 220px;
        height:110px;
        border:3px solid #ffffff;
        position:absolute;
        z-index:220;
        background-color:#539A46;
        &.top{
            left:75px;
            top:3px;
            border-top-color:transparent;
            border-top-width:0px;
            &::after{
                border:3px solid #ffffff;
                border-top-color:transparent;
                border-top-width:0px;
                bottom: 45px;
                content: "";
                left: 45px;
                position: absolute;
                right: 45px;
                top: 0px;
            }
        }
        &.bottom{
            left:75px;
            bottom:0px;
            border-bottom-color:transparent;
            border-bottom-width:0px;
            &::after{
                border:3px solid #ffffff;
                border-bottom-color:transparent;
                border-bottom-width:0px;
                bottom: 0px;
                content: "";
                left: 45px;
                position: absolute;
                right: 45px;
                top: 45px;
            }
    }
  }
  .p-spot{
    &.top{
        &:after{
            content:"\2022";
            position:absolute;
            color:#fff;
            font-size:35px;
            left:180px;
            top:64px;
            z-index: 300;           
        }
    }
    &.bottom{
        &:after{
            content:"\2022";
            position:absolute;
            color:#fff;
            font-size:35px;
            left: 180px;
            bottom:64px;     
            z-index: 300;   
        }
    }
  }
  .p-place{
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%; 
        height: 150px;
        position: absolute;
        width: 130px;
        z-index: 210;
        border:3px solid transparent;
        &.top{
            border-bottom-color: #fff;
            border-right-color: #fff;
            border-left-color: #fff;
            left: 120px;
            top: 3px;
        }
        &.bottom{
            border-right-color: #fff;
            border-left-color: #fff;
            border-top-color: #fff;
            bottom: 3px;
            left: 120px;
        }
  }
    .pins{
        .pin{ 
            border-radius: 50%;
            background-color: blue;
            width: 30px;
            height: 30px;
            z-index: 300;
            transform: translate(15px,-15px);
            &.pin-1{
                position: absolute;
                bottom: 3px;
                left: 159px;
            }
            &.defences{
                &.pin-1{
                    position: absolute;
                    bottom: 200px;
                    left: 10px;
                }
                &.pin-2{
                    position: absolute;
                    bottom: 200px;
                    left: 90px;   
                }
                &.pin-3{
                    position: absolute;
                    bottom: 200px;
                    left: 220px;
                }
                &.pin-4{
                    position: absolute;
                    bottom: 200px;
                    left: 310px;
                }
            }
            &.middle{
                &.pin-1{
                    position: absolute;
                    top: 50%;
                    left: 10px;
                }
                &.pin-2{
                    position: absolute;
                    top: 50%;
                    left: 90px;   
                }
                &.pin-3{
                    position: absolute;
                    top: 50%;
                    left: 220px;
                }
                &.pin-4{
                    position: absolute;
                    top: 50%;
                    left: 310px;
                }
            }
            &.attack{
                &.pin-1{
                    position: absolute;
                    top: 25%;
                    left: 90px;
                }
                &.pin-2{
                    position: absolute;
                    top: 25%;
                    left: 220px;   
                }
            }
        }      

    }
}
